<a href="https://colab.research.google.com/github/suryagokul/Data-Science-Portfolio/blob/master/Popularity_Based_Recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TYPES OF RECOMMENDER SYSTEMS ----------------->**




*   Popularity Based Recommendation
*   Classification Model Based
*   Content Based REcommendation
*   Nearest Neighbour Collaborative Filtering:

          1) User Based

          2) Item Based

*    Hybrid Approaches

*    Association Rule Mining

*    Deep Learning Based Recommendation System

**REAL WORLD EXAMPLES**

*    GroupLens (https://grouplens.org/)

          ->  Helped in development of initial recommender systems by pioneering initial collaborative filtering models

          ->  Provided Various Datasets (MovieLens and BookLens)        

*    Netflx Prize

          -> Pioneered Latent Factor / Matrix Factorization models

*    Google and Youtube

          -> Hybrid Recommendation Systems

          -> Deep Learning Based Systems

*    Social Network Recommendations

In [ ]:
import pandas as pd

import numpy as np

import sklearn

import seaborn as sns

In [ ]:
movies_df = pd.read_csv("https://raw.githubusercontent.com/krishnaik06/Recommendation_complete_tutorial/master/KNN%20Movie%20Recommendation/movies.csv")

In [ ]:
ratings_df = pd.read_csv("https://raw.githubusercontent.com/krishnaik06/Recommendation_complete_tutorial/master/KNN%20Movie%20Recommendation/ratings.csv")

In [ ]:
movies_df[:5]

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [ ]:
ratings_df[:5]

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
ratings_df.drop('timestamp',axis=1,inplace=True)

In [ ]:
ratings_df[:5]

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [ ]:
df = pd.merge(movies_df,ratings_df,on='movieId')   #merging movies and ratings based on movieId

df[:5]

   movieId             title  ... userId  rating
0        1  Toy Story (1995)  ...      1     4.0
1        1  Toy Story (1995)  ...      5     4.0
2        1  Toy Story (1995)  ...      7     4.5
3        1  Toy Story (1995)  ...     15     2.5
4        1  Toy Story (1995)  ...     17     4.5

[5 rows x 5 columns]

In [ ]:
df.isnull().any()

movieId    False
title      False
genres     False
userId     False
rating     False
dtype: bool

# Popularity Based Recommendation

**It is totally based upon Ratings.Higher the ratings highest probability to recommend.When first time user entered into streaming application then recommendation is given by this type of model.**

*Dis advantages*

1.  It does not know about what genre user likes.

2.  Model does not have any information about which language the user interested...

In [ ]:
rating_count = pd.DataFrame(df.groupby('title')['rating'].count().sort_values(ascending=False).reset_index().rename(columns={'rating':'no_of_ratings'}))

rating_count[:5]

                              title  no_of_ratings
0               Forrest Gump (1994)            329
1  Shawshank Redemption, The (1994)            317
2               Pulp Fiction (1994)            307
3  Silence of the Lambs, The (1991)            279
4                Matrix, The (1999)            278

In [ ]:
df1 =  pd.DataFrame(df.groupby('title')['rating'].mean().sort_values(ascending=False))


df1

                                               rating
title
Karlson Returns (1970)                            5.0
Winter in Prostokvashino (1984)                   5.0
My Love (2006)                                    5.0
Sorority House Massacre II (1990)                 5.0
Winnie the Pooh and the Day of Concern (1972)     5.0
...                                               ...
The Beast of Hollow Mountain (1956)               0.5
Follow Me, Boys! (1966)                           0.5
The Butterfly Effect 3: Revelations (2009)        0.5
The Emoji Movie (2017)                            0.5
Rust and Bone (De rouille et d'os) (2012)         0.5

[9719 rows x 1 columns]

In [ ]:
df1['rating_count'] = df.groupby('title')['rating'].count()

In [ ]:
df1.index.name = 'Recommended Movie Based On Popularity'

In [ ]:
df1

                                               rating  rating_count
Recommended Movie Based On Popularity
Karlson Returns (1970)                            5.0             1
Winter in Prostokvashino (1984)                   5.0             1
My Love (2006)                                    5.0             1
Sorority House Massacre II (1990)                 5.0             1
Winnie the Pooh and the Day of Concern (1972)     5.0             1
...                                               ...           ...
The Beast of Hollow Mountain (1956)               0.5             1
Follow Me, Boys! (1966)                           0.5             1
The Butterfly Effect 3: Revelations (2009)        0.5             1
The Emoji Movie (2017)                            0.5             1
Rust and Bone (De rouille et d'os) (2012)         0.5             1

[9719 rows x 2 columns]

In [ ]:
df1.columns = ['Rating','Rating_Count']

In [ ]:
Popular10 = df1['Rating'][:11]

In [ ]:
from tabulate import tabulate

print(tabulate(pd.DataFrame(Popular10),headers='keys',tablefmt='psql'))

+-----------------------------------------------+----------+
| Recommended Movie Based On Popularity         |   Rating |
|-----------------------------------------------+----------|
| Karlson Returns (1970)                        |        5 |
| Winter in Prostokvashino (1984)               |        5 |
| My Love (2006)                                |        5 |
| Sorority House Massacre II (1990)             |        5 |
| Winnie the Pooh and the Day of Concern (1972) |        5 |
| Sorority House Massacre (1986)                |        5 |
| Bill Hicks: Revelations (1993)                |        5 |
| My Man Godfrey (1957)                         |        5 |
| Hellbenders (2012)                            |        5 |
| In the blue sea, in the white foam. (1984)    |        5 |
| Won't You Be My Neighbor? (2018)              |        5 |
+-----------------------------------------------+----------+